body {
  font-family: Arial;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
}

h2 {
  color: white;
}

input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

